AZURE_OPENAI_API_VERSION=2024-08-01-preview
AZURE_OPENAI_DEPLOYMENT=gpt-4o
AZURE_OPENAI_API_KEY=myapikey
AZURE_OPENAI_ENDPOINT=https://myendpoint.openai.azure.com

AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large
AZURE_EMBEDDING_API_VERSION=2023-05-15

# langfuse
LANGFUSE_URL=http://172.17.80.23:3000
LANGFUSE_PUBLIC_KEY=pk-lf-44742fb6-db59-4167-8a07-09ec7cb2e171
LANGFUSE_SECRET_KEY=sk-lf-95817470-76ea-4646-ad27-62cd8d88a190